/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 /*CSS for shortcodes*/
 @import url(../../admin/md-font/css/material-design-iconic-font.min.css);
 @font-face {
 	font-family: 'robotoregular';
 	src: url('../fonts/roboto-regular-webfont.eot');
 	src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
 	url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
 	url('../fonts/roboto-regular-webfont.woff') format('woff'),
 	url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
 	url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
 	font-weight: normal;
 	font-style: normal;

 }

 .alcud-container{
 	font-family: 'robotoregular', sans-serif;
 	padding: 0 15px; 
 	-webkit-box-shadow: 0px 2px 5px -2px rgba(204,204,204,1);
 	-moz-box-shadow: 0px 2px 5px -2px rgba(204,204,204,1);
 	box-shadow: 0px 2px 5px -2px rgba(204,204,204,1);
 }
 .alcud-container header{
 	position: relative;
 	font-family: 'robotoregular';
 	padding: 6px 12px;
 	margin-left: -15px;
 	margin-right: -15px;
 	font-weight: normal;
 	background: #757575;
 	border-top: 5px solid #595959;
 	color: #fff;
 	text-transform: uppercase;
 	-webkit-box-shadow: 0px 2px 5px -2px rgba(204,204,204,1);
 	-moz-box-shadow: 0px 2px 5px -2px rgba(204,204,204,1);
 	box-shadow: 0px 2px 5px -2px rgba(204,204,204,1);
 }
 .alcud-row{
 	position: relative;
 	margin-right: -15px;
 	margin-left: -15px;
 }
 .alcud-row .col-lg-6{
 	width: 49%;
 	padding-left: 15px;
 	padding-right: 15px;
 	display: inline-block;
 }
 .alcud-row .col-lg-3{
 	width: 32%;
 	padding-left: 15px;
 	padding-right: 15px;
 	display: inline-block;
 }
 .alcud-row .col-lg-9{
 	width: 65%;
 	padding-left: 15px;
 	padding-right: 15px;
 	display: inline-block;
 }
 .alcud-container .alcud-row .alcud-business{
 	top: 0;
 	bottom: 0;
 	left: 0;
 	position: absolute;
 	text-align: center;
 	background: #E7E7E7;
 	border-right: 1px solid #ddd;
 }
 .alcud-container .business_name{
 	padding: 45px 10px 15px 10px;
 	font-size: 20px;
 	color: #686C70;
 }
 .alcud-container .address{
 	font-size: 14px;
 	color: #7B7B7B;
 	margin-bottom: 10px;
 }

 .alcud-container .alcud-row .alcud-details{
 	position: relative;
 	left: 49%;
 	font-size: 14px;
 	padding: 15px 0px;
 }

 .alcud-container .alcud-row .alcud-details i.md{
 	font-size: 20px;
 	font-weight: normal;
 	padding: 0 12px; 
 	vertical-align: top;
 	max-width: 30%;
 	color: #757575;
 }

 .alcud-container .alcud-row .alcud-details span{
 	padding: 3px;
 	font-size: 14px;
 	display: inline-block;
 	color: #434343;
 }
 .alcud-container .alcud-row .alcud-details .address{
 	display: inline-block;
 	max-width: 70%;
 }
 .alcud-container .alcud-row .alcud-details a{
 	text-decoration: none;
 	border-bottom: 0;
 }


 /*no business name*/
 .alcud-icon-holder{
 	height: 80px;
 	width: 80px;
 	line-height: 80px;
 	text-align: center;
 	border-radius: 50%;
 	font-size: 40px;
 	display: inline-block;
 	background: #8C8B8B;
 	margin-top: 55px;
 	margin-bottom: 15px;
 	color: #fff;
 }

 @media screen and (max-width: 760px){
 	.alcud-row .col-lg-6{
 		width: 100%;
 		padding-left: 15px;
 		padding-right: 15px;
 		display: inline-block;
 	}
 	.alcud-container .alcud-row .alcud-business{
 		position: relative;
 	}
 	.alcud-container .alcud-row .alcud-details{
 		left: 0;
 	}
 	.alcud-icon-holder{
 		margin-top: 25px;
 	}
 }