/* This stylesheet is used to style the public view of the widget. */
@import url(../md-font/css/material-design-iconic-font.min.css);

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.alcud-widget-header{
    font-family: 'robotoregular';
	padding: 6px 12px;
	font-weight: normal;
	background: #009688;
	border-top: 5px solid #00796B;
	color: #fff;
	text-transform: uppercase;
	-webkit-box-shadow: 0px 2px 5px -2px rgba(204,204,204,1);
	-moz-box-shadow: 0px 2px 5px -2px rgba(204,204,204,1);
	box-shadow: 0px 2px 5px -2px rgba(204,204,204,1);
}
.alcud-widget-body{
    font-family: 'robotoregular';
	padding: 15px 5px;
	border: 1px solid #eaeaea;
	-webkit-box-shadow: 0px 2px 5px -2px rgba(204,204,204,1);
	-moz-box-shadow: 0px 2px 5px -2px rgba(204,204,204,1);
	box-shadow: 0px 2px 5px -2px rgba(204,204,204,1);
}
.alcud-widget-body .md{
	font-size: 20px;
	font-weight: normal;
	padding: 0 12px; 
	vertical-align: top;
	max-width: 30%;
}

.alcud-widget-body span{
	padding: 3px;
	font-size: 14px;
	display: inline-block;
}

.alcud-widget-body .address{
	display: inline-block;
	max-width: 65%;
}