/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */
 @import url(../font-awesome/css/font-awesome.min.css);
 @import url(../md-font/css/material-design-iconic-font.min.css);


 .al_wrap{

 }

 .al_wrap .md{
 	vertical-align: middle;
 }
 .al_wrap .container{
 	padding-left: 15px;
 	padding-right: 15px;
 }

 .al_wrap .page-header{
 	padding: 30px 0px;
 	font-size: 24px;
 	display: block;
 }

 .al_wrap .input_row .md{
 	font-size: 32px;
 	display: inline-block;
 	padding-right: 12px;
 }

 .al_wrap .input_row .md.md-location-on, .al_wrap .input_row .md.md-add{
 	height: 48px;
 	display: inline-block;
 }
 .al_wrap .input_row .input_col{
 	display: inline-block;
 }

 .al_wrap .input_row .input_col label{
 	display: none;
 	font-size: 12px;
 	padding: 0px 12px;
 	color: #777;
 	margin-top: 16px;
 	margin-bottom: 8px;
 }
 .al_wrap .input_row .input_col .form-control{
 	border: 0;
 	outline: 0;
 	border-radius: 0;
 	font-size: 16px;
 	padding: 16px 12px;
 	color: #444;
 	background: #F1F1F1;
 	min-width: 300px;
 	max-width: 100%;
 	border-bottom: 1px solid rgba(220,220,220,1);
 	box-shadow: none;
 }
 .al_wrap .input_row .input_col textarea.form-control{
 	resize: none;
 }
.al_wrap .input_row .input_col .form-control:hover,
.al_wrap .input_row .input_col .form-control:focus{
	box-shadow: none;
}

 .al_wrap .input_row:hover .input_col .form-control,
 .al_wrap .input_row:focus .input_col .form-control{
 	border-bottom: 1px solid #2196F3;
 	box-shadow: none;
 }

 .al_wrap .input_row:hover .md,
 .al_wrap .input_row:focus .md{
 	color: #2196F3;
 }

 .submit_row .input_col{
 	margin-left: 44px;
 	padding: 16px 0; 	
 }

 .submit_row .input_col .submit_btn{
 	display: inline-block;
 	height: 36px;
 	line-height: 36px;
 	padding: 0px 8px;
 	min-width: 80px;
 	border: none;
 	background: #42A5F5;
 	color: #fff;
 	text-transform: uppercase;
 	-webkit-box-shadow: 0px 2px 5px -2px rgba(204,204,204,1);
		-moz-box-shadow: 0px 2px 5px -2px rgba(204,204,204,1);
		box-shadow: 0px 2px 5px -2px rgba(204,204,204,1);
 }

 .submit_row .input_col .submit_btn:hover, 
 .submit_row .input_col .submit_btn:focus,
 .submit_row .input_col .submit_btn:active{
 	box-shadow: none;
 	background: #2196F3;
 	color: #fff;
 }